
  <h1>NPTEL video solution</h1>
  <h3>NPTEL Courses :: Computer Science & Engineering :: Computer Organization :: Lecture 2</h3>
  <div id="iframe-session-player"></div>

  

  <script type="text/javascript">
    ChapterMarkerPlayer.insert({
      container: 'iframe-session-player',
      videoId: 'VG9VopzV_T0',
      width: 600,
// BEGIN_INCLUDE(define_chapters)
      chapters: {
        0: 'Start',
        102: 'Introductions',
        217: 'Machine codes',
        348: 'Translator',
        780: 'Library of Programs',
        860: 'Keyboard Routines',
        1062: 'Operating System'
      }
// END_INCLUDE(define_chapters)
    });

  </script>

