<% if signed_in? %>
  
    <div class="main">
      <%= render 'shared/feed'%>
    </div>
  
<% else %>
  
    
    
      
        
      <div class = centre>
        <div class="col2">
        
        
        <div class="grid_full">
          <div class="tile red">
              <div class="tile-content">
                  <div class="content one">
                      <h1>Main Content</h1>
                  </div>
                  <div class="content two">
                      <h1>Secondary Content</h1>
                  </div>
              </div>
          </div>
        </div>

        <div class="grid_full">
           <div class="tile orange">
              <div class="tile-content">
                  <div class="content one">
                      <h1>Main Content</h1>
                  </div>
                  <div class="content two">
                      <h1>Secondary Content</h1>
                  </div>
              </div>
          </div>
        </div>
        </div>

        
        <div class="col3">
          
        
        <div class="grid_full">
          <div class="tile blue">
              <div class="tile-content">
                   <div class="content one">
                      
                      <h1>Contact Us</h1>
                  </div>
                  <div class="content two">
                      <h1>sandeep@golpo.me</h1>                
                  </div>
              </div>
          </div>
        </div>

        <div class="grid_full">
          <div class="tile green">
              <div class="tile-content">
                  <div class="content one">
                      
                      <h1>Twitter</h1>
                  </div>
                  <div class="content two ie7">
                      <a target="_blank" href="https://twitter.com/JuliaSWD" >Latest Tweets</a>
                  </div>
              </div>
          </div>
        </div>
        </div>
      </div>
  
<% end %>

<script type="text/javascript">
      $(document).ready(function () {               


          function TileAnimate() {

              $(".tile-content").hover(function (event) {
                  event.stopPropagation();

                  if (!$(this).hasClass('.tile-content .content.one')) {
                      $(this).dequeue().stop().animate({ top: "-145px" });
                  }
              }, function () {
                  $(this).addClass('animated').animate({ top: "0" }, "normal", "linear", function () {
                      $(this).removeClass('animated').dequeue();
                  });
              });
          }
          TileAnimate(); 
          

      });
  </script>