<% if signed_in? %>
  <div class="row">
    <div class="span8">
      <h3>Feed</h3>
      <%= render 'shared/feed' %>
     </div>
  </div> 
<% else %>
  <div class="center design" >
     <h1>Slashroot</h1>

     <h2>
        Your gateway to awesome content!
     </h2>

     <%= link_to "Sign up for beta!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("slashroot.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
