<% if signed_in? %>
  
    <div class="main">
      <%= render 'shared/feed'%>
    </div>
  
<% else %>
    <div class="row" >
      <div class = "span4" >
        <div><%= image_tag("golpo_full_res.png") %>

        </div>
      </div>
      
        
      <div class = "span8 offset4" >
        <div class="col2">
        
        
        <div class="grid_full">
          <div class="tile red">
              <div class="tile-content">
                  <div class="content one">
                      <h1>Golpo..what? </h1>
                  </div>
                  <div class="content two">
                      <h4>Golpo is an efficient way of creating and discovering amazing content</h4>
                  </div>
              </div>
          </div>
        </div>

        <div class="grid_full">
           <div class="tile orange">
              <div class="tile-content">
                  <div class="content one">
                      <h1>About Us</h1>
                  </div>
                  <div class="content two">
                      <h4>We believing in making publishing simple and efficient.</h4>
                  </div>
              </div>
          </div>
        </div>
        </div>

        
        <div class="col3">
          
        
        <div class="grid_full">
          <div class="tile blue">
              <div class="tile-content">
                   <div class="content one">
                      
                      <h1>Contact Us</h1>
                  </div>
                  <div class="content two">
                      <h4>Reach us at sandeep@golpo.me</h4>                
                  </div>
              </div>
          </div>
        </div>

        <div class="grid_full">
          <div class="tile green">
              <div class="tile-content">
                  <div class="content one">
                      
                      <h1>Follow Us</h1>
                  </div>
                  <div class="content two ie7">
                      <a target="_blank">Twitter</a>
                  </div>
              </div>
          </div>
        </div>
        </div>
      </div>
    </div>
<% end %>

<script type="text/javascript">
      $(document).ready(function () {               


          function TileAnimate() {

              $(".tile-content").hover(function (event) {
                  event.stopPropagation();

                  if (!$(this).hasClass('.tile-content .content.one')) {
                      $(this).dequeue().stop().animate({ top: "-145px" });
                  }
              }, function () {
                  $(this).addClass('animated').animate({ top: "0" }, "normal", "linear", function () {
                      $(this).removeClass('animated').dequeue();
                  });
              });
          }
          TileAnimate(); 
          

      });
  </script>