<% provide(:title, "Edit user") %> 
<h3>Update your profile</h3>
<div class="row">
<div class="span6 offset3">
<%= form_for(@user) do |f| %>
<%= render 'fields', f: f %>
<p><%= f.submit "Save changes", class: "btn btn-small btn-primary" %></p>
<% end %>
</div>
</div>
