<% if @feed_items.any? %>

  <div id="masonry-container" class="posts has-gutters">
    <%= render partial: 'shared/feed_item', collection: @feed_items %>
   <div class="clearfix"></div> 
  </div>

  	<%= will_paginate @feed_items %>
<% end %>
