

<div>


	<p> <strong> Click inside of any element below to start editing. </strong>
		<a class="btn btn-success"  onclick="javascript:introJs().start();">I'm not sure, show me how</a>
	</p>
</div>
<div id="editable_container" class="template-background">
	<div id="header">
		<div id="headerLeft" >

			<div id="keyone" contenteditable="true" data-intro='Click and enter the title and tagline/brief' data-step='1'>
				<h2>
					
					Title of the Content
				</h2>
				
			</div>	
			<div id="keytwo" contenteditable="true" data-intro='Enter the summary' data-step='2'>

				<p>					
					<h3>Click and enter the summary of the page.</h3>
				</p>
			</div>	   
		</div>
		<div id="headerRight" >
			
			<h4>Paste image links below separated by whitespace</h4>
			<div id="urls" contenteditable="true" data-intro='Paste image links for display'  data-step='3'>
				
			</div>
			
			<h4>Enter below youtube link</h4>
			<div id="youtube"  contenteditable="true" data-intro='Click and enter youtube video link' data-step='4'>
					

			</div>
		</div>
		
	</div>
	<div id="columns">
		<div id="column1" data-intro='Click and enter content' data-step='5' >
			<div id="keythree" contenteditable="true">
				<h3>
					Click and enter sub heading.
				</h3>
				
				<p>
					<strong>
						Click and enter description.
					</strong>
				</p>
			    
			    
				<p>
					Click and enter content.
				</p>
				<blockquote>
					<p>
						Emphasize key points in this block. Click to enter.
					</p>
				</blockquote>
				<blockquote>
					<p>
						Emphasize key points in this block. Click to enter.
					</p>
				</blockquote>
				<p>Click to enter content</p>
				
				
			</div>
			
		</div>
		<div id="column2" data-intro='Click and enter content' data-step='6'>
			<div id="keyfour" contenteditable="true">
				<h3>
					Click and enter sub heading.
				</h3>
				<p>
					Click and enter description.

				</p>
			</div>
			<div id="keyfive" contenteditable="true">
				
				<h5>
					Click to enter second level detail.

				</h5>
			</div>

		</div>

		<div id="column3" >
			<div id="keysix" contenteditable="true" data-intro='Click and enter content' data-step='7'>
				<p>Click and enter description.</p>
				<h3>
					Click and enter sub heading.
				</h3>
				<ul>
					<li>Enter bullet points</li>
					<li>Enter bullet points</li>
					
				</ul>
				<p>Click and enter content.</p>
			</div>

			
		</div>


	</div>
	
</div>

