

<div>


	<p> <strong> Click inside any element below to start editing. </strong>
		<a class="btn btn-success"  onclick="javascript:introJs().start();">I'm not sure, show me how</a>
	</p>
</div>

<p class= "btn btn-medium">
    <%= link_to "Publish", root_path,  :onclick => 'myfunction();' %>
</p>
<div id="editable_container">
	<div id="header">
		<div id="headerLeft" >
		
			<div id="keyone" contenteditable="true" data-intro='Click and enter the title and tagline/brief' data-step='1' >
				
				<h1>Click and enter the title of the Content</h1>
				
				
			</div>	
			<div id="keytwo" contenteditable="true" data-intro='Enter the summary' data-step='2'>

								
					<h3>Click and enter the summary of the page</h3>
				
			</div>	   
		</div>
		<div id="headerRight" >
			
			<h4><p>Paste image links below separated by whitespace</p></h4>
			<div id="urls" contenteditable="true" data-intro='Paste image links for display'  data-step='3'>
				
			</div>
			
			<h4><p>Paste youtube link below</p></h4>
			<div id="youtube"  contenteditable="true" data-intro='Click and enter youtube video link' data-step='4'>
					

			</div>
		</div>
		
	</div>
	<div id="columns">
		<div id="column1" data-intro='Click and enter content' data-step='5'  >
			<div id="keythree" contenteditable="true" data-placeholder='Click to enter content'>
				<p></p>
				
				
			</div>
			 
		</div>
		<div id="column2" data-intro='Click and enter content' data-step='6'>
			<div id="keyfour" contenteditable="true" data-placeholder='Click to enter content'>
				<p></p>
			</div>
			<div id="keyfive" contenteditable="true" data-placeholder='Click to enter more details. This will be displayed in a separate window.'>
				<p></p>
			</div>

		</div>

		<div id="column3" >
			<div id="keysix" contenteditable="true" data-intro='Click and enter content' data-step='7' data-placeholder='Click to enter content'>
				<p></p>
			</div>

			
		</div>


	</div>
	
</div>
<p class= "btn btn-medium">
    <%= link_to "Publish", root_path,  :onclick => 'myfunction();' %>
</p>

