
  

  <%= render "shared/inlineall" %> 

  
  

  	<%= link_to "Display a new view", new_post_path, :remote => true  %>

  <p>
    <a class="btn btn-medium" href="javascript:void(0);" onclick='myfunction();'>Publish</a>

  </p>
  <div id="template">

    
  </div>


