
  

  <%= render "shared/inlineall" %> 

  
  

  	

  <p class= "btn btn-small">
    

    <%= link_to "Publish", root_path,  :onclick => 'myfunction();' %>

  </p>
  <div id="template">

    
  </div>


