<%if signed_in? %>

    <div class="row-fluid">
    <div class="span1">
     
    </div>
    <div class="span11">
      <%= render 'shared/show_item' %>
    </div>
  </div>
	

<% else %>
  
    
    
      <div class="row-fluid">
        <div class="span3" >
           
        </div>
        <div class="span9 offset2">
          <div class="hero-unit center">          
            <h1>Product name placeholder</h1>
            <h2>Video placeholder</h2>
            <div>
              <%= link_to "Sign up for beta!", signup_path, class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>     
      </div>

  
<% end %>

<script>
  $('.modal').bind('hide', function () {
    var iframe = $(this).children('div.modal-body').find('iframe');
    var src = iframe.attr('src');
    iframe.attr('src', '');
    iframe.attr('src', src);
    });
</script>



<script>
  $(function () {
    'use strict';

    // Start slideshow button:
    $('#start-slideshow').button().click(function () {
        var options = $(this).data(),
            modal = $(options.target),
            data = modal.data('modal');
        if (data) {
            $.extend(data.options, options);
        } else {
            options = $.extend(modal.data(), options);
        }
        modal.find('.modal-slideshow').find('i')
            .removeClass('icon-play')
            .addClass('icon-pause');
        modal.modal(options);
    });

    // Toggle fullscreen button:
    $('#toggle-fullscreen').button().click(function () {
        var button = $(this),
            root = document.documentElement;
        if (!button.hasClass('active')) {
            $('#modal-gallery').addClass('modal-fullscreen');
            if (root.webkitRequestFullScreen) {
                root.webkitRequestFullScreen(
                    window.Element.ALLOW_KEYBOARD_INPUT
                );
            } else if (root.mozRequestFullScreen) {
                root.mozRequestFullScreen();
            }
        } else {
            $('#modal-gallery').removeClass('modal-fullscreen');
            (document.webkitCancelFullScreen ||
                document.mozCancelFullScreen ||
                $.noop).apply(document);
        }
    });

    // Load images via flickr for demonstration purposes:
    
});

</script>