<%if signed_in? %>

	<div>
		<%= render 'shared/show_item' %>
    </div>

<% else %>
  
    
    
      <div class="row-fluid">
        <div class="span3" >
           
        </div>
        <div class="span9 offset2">
          <div class="hero-unit center">          
            <h1>Product name placeholder</h1>
            <h2>Video placeholder</h2>
            <div>
              <%= link_to "Sign up for beta!", signup_path, class: "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>     
      </div>

  
<% end %>