@import "bootstrap";
@import "bootstrap/responsive";
@import "bootstrap/image-gallery";



.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 10px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .bar {
  background: url(progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  float: right;
  width: 10px;
  height: 10px;
  background: url(loading.gif) center no-repeat;
  background-size: contain;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

@media (max-width: 400px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 40px;
    word-wrap: break-word;
  }
}

/* css for the index page */

.index-center {
    
    
}

.tile h1 {font-size: 2.5em;} 
.tile p{font-size: 1.5em;} 
.tile a{font-size: 1.8em;}

@media screen and (min-width: 43.75em){
  .col1,.col2,.col3{
    float:left;
    margin-right:0.4%;
    margin-left:0.4%;
    width:49%;    
  }
}
@media screen and (min-width: 64em){
  .col1,.col2,.col3{
    float:left;
    margin-right:0.4%;
    margin-left:0.4%;
    width:32%;
  } 
  /*.col3{margin-right: 0;}
  .col1{margin-left:2em;}   */
}

.tile {
  display: block;
  height:100%;
  width:100%;
  overflow:hidden;
  color:#fff;
  position:relative;
  }
.tile div 
{
  display: block;
  margin: 0 auto;
  width: 90%;
    }
.tile img.left
{
  display: block;
  margin: 0 auto;
  margin-top:1.250em;
  margin-bottom:0.313em;
    }
.tile img.center
{
  display: block;
  margin: 2.188em auto auto auto;

    }
.tile img.top
{
  display: block;
 
  margin:2.188em 0 0.313em 2.188em;
  float:left;
    }

.tile-content:hover 
{
    cursor:pointer;
    }       
.tile .tile-content, .tile .tile-content-static {
  display: block;
  height: 9.063em;
  width: 100%;
  position: relative;
  }
        
.tile .tile-content .content, .tile .tile-content-static .content {
   display: block;
   height: 9.063em;
   width: 100%;
   position: absolute;
   }
        
.tile .tile-content .content.one, .tile .tile-content-static .content.one {
   top: 0;
   display: block;
   height: 9.063em;
   width: 100%;
  }
        
.tile .tile-content .content.two {
   top: 9.063em;
   display: block;
   height: 9.063em;
   width: 100%;
  }
        
/*.tile .tile-content h1, .tile .tile-content-static h1*/
.tile h1 {
   color: #fff;
   font-family: 'segoe ui', sans-serif;
   font-weight: normal;
   text-align: center;
   margin-top: 1.2em;        
   font-weight: 100;
   /*font-size: 2.5em;*/
   }
 
 .tile p {
   color: #fff;
   font-family: 'segoe ui', sans-serif;
   font-weight: normal;
   text-align: center;
   margin-top: 12%;        
   font-weight: 100;
   /*font-size: 1.5em;*/
   line-height:1.1em;
   }
   
 .tile a {
   color: #fff;
   font-family: 'segoe ui', sans-serif;
   font-weight: normal;
   text-align: center;
   margin-top: 12%;        
   font-weight: 100;
   /*font-size: 1.8em;*/
   line-height:1.1em;
   display:block;
   }
/*background images*/
#facebook 
{
    background:url('../images/facebook.png') 30px 35px no-repeat;
    }


/*colors*/       
.blue {
  background-color: #009fb2;
  background-image: -o-linear-gradient(left , #00839a 0%, #00a1b3 100%);
  background-image: -moz-linear-gradient(left , #00839a 0%, #00a1b3 100%);
  background-image: -webkit-linear-gradient(left , #00839a 0%, #00a1b3 100%);
  background-image: -ms-linear-gradient(left , #00839a 0%, #00a1b3 100%);
  background-image: linear-gradient(left , #00839a 0%, #00a1b3 100%);

  background-image: -webkit-gradient(
               linear,
                left top,
                right top,
                color-stop(0, #00839a),
                color-stop(1, #00a1b3)
            );
  border-right: 1px solid #11a8b9;
  border-left: 1px solid #118a9f;
  border-top: 1px solid #099cb0;
  border-bottom: 1px solid #099cb0;
  -webkit-box-shadow: 1px 0 1px #065363;
  -moz-box-shadow: 1px 0 1px #065363;
  -ms-box-shadow: 1px 0 1px #065363;
  -o-box-shadow: 1px 0 1px #065363;
  box-shadow: 1px 0 1px #065363;
  }  
  
  .red {
  background-color: #d5582c;
  background-image: -o-linear-gradient(left , #c64a26 0%, #d5582c 100%);
  background-image: -moz-linear-gradient(left , #c64a26 0%, #d5582c 100%);
  background-image: -webkit-linear-gradient(left , #c64a26 0%, #d5582c 100%);
  background-image: -ms-linear-gradient(left , #c64a26 0%, #d5582c 100%);
  background-image: linear-gradient(left , #c64a26 0%, #d5582c 100%);

  background-image: -webkit-gradient(
               linear,
                left top,
                right top,
                color-stop(0, #c64a26),
                color-stop(1, #d5582c)
            );
  border-right: 1px solid #db5b2e;
  border-left: 1px solid #db5b2e;
  border-top: 1px solid #db5628;
  border-bottom: 1px solid #db5628;
  -webkit-box-shadow: 1px 0 1px #b84a23;
  -moz-box-shadow: 1px 0 1px #b84a23;
  -ms-box-shadow: 1px 0 1px #b84a23;
  -o-box-shadow: 1px 0 1px #b84a23;
  box-shadow: 1px 0 1px #b84a23;
  }      
  
 .green 
 {
     background: #8BBA30;
     background-image: -o-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
  background-image: -moz-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
  background-image: -webkit-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
  background-image: -ms-linear-gradient(left , #84a12d 0%, #9eb33a 100%);
  background-image: linear-gradient(left , #84a12d 0%, #9eb33a 100%);

  background-image: -webkit-gradient(
               linear,
                left top,
                right top,
                color-stop(0, #84a12d),
                color-stop(1, #9eb33a)
            );
  border-right: 1px solid #92ab34;
  border-left: 1px solid #92ab34;
  border-top: 1px solid #9cb638;
  border-bottom: 1px solid #9cb638;
  -webkit-box-shadow: 1px 0 1px #8ca731;
  -moz-box-shadow: 1px 0 1px #8ca731;
  -ms-box-shadow: 1px 0 1px #8ca731;
  -o-box-shadow: 1px 0 1px #8ca731;
  box-shadow: 1px 0 1px #8ca731;
     }
 

 .royal_blue 
 {
  background:#385E82;
  background-image: -o-linear-gradient(left , #29527b 0%, #014e93 100%);
  background-image: -moz-linear-gradient(left , #29527b 0%, #014e93 100%);
  background-image: -webkit-linear-gradient(left , #29527b 0%, #014e93 100%);
  background-image: -ms-linear-gradient(left , #29527b 0%, #014e93 100%);
  background-image: linear-gradient(left , #29527b 0%, #014e93 100%);

  background-image: -webkit-gradient(
               linear,
                left top,
                right top,
                color-stop(0, #29527b),
                color-stop(1, #014e93)
            );
  border-right: 1px solid #004884;
  border-left: 1px solid #004884;
  border-top: 1px solid #014b8d;
  border-bottom: 1px solid #014b8d;
  -webkit-box-shadow: 1px 0 1px #004884;
  -moz-box-shadow: 1px 0 1px #004884;
  -ms-box-shadow: 1px 0 1px #004884;
  -o-box-shadow: 1px 0 1px #004884;
  box-shadow: 1px 0 1px #004884;
     }      
 .orange 
 {
  background:#F2854C;
  
  background-image: -o-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
  background-image: -moz-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
  background-image: -webkit-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
  background-image: -ms-linear-gradient(left , #dc7c26 0%, #e4a11e 100%);
  background-image: linear-gradient(left , #dc7c26 0%, #e4a11e 100%);

  background-image: -webkit-gradient(
               linear,
                left top,
                right top,
                color-stop(0, #dc7c26),
                color-stop(1, #e4a11e)
            );
  border-right: 1px solid #e09022;
  border-left: 1px solid #e09022;
  border-top: 1px solid #e39d1f;
  border-bottom: 1px solid #e39d1f;
  -webkit-box-shadow: 1px 0 1px #dc7c26;
  -moz-box-shadow: 1px 0 1px #dc7c26;
  -ms-box-shadow: 1px 0 1px #dc7c26;
  -o-box-shadow: 1px 0 1px #dc7c26;
  box-shadow: 1px 0 1px #dc7c26;
     }    

.grid_full,
.grid_half {
    display:inline;
    float: left;
    position: relative; 
}
.grid_full {    
    margin-left: 0.3%;
    margin-right: 0.3%;
    margin-bottom: 0.8%;
    margin-top: 0.8%;
}
.grid_half {    
    
    margin-right: 1.7%;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

.container .grid_full {
    /*width:32.733%;*/
    width:100%;
}
.container .grid_half {
    width:49.1%;
}


/* css for teh user home page */


.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
} 

/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
}

.cbp_tmtimeline > li {
    position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 16%;
    padding-right: 100px;
    position: absolute;
    text-align: left;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}

.gravatar {border-radius:50px}
.cbp_tmicon-phone:before {
}

.cbp_tmicon-screen:before {
    content: "\e001";
}

.cbp_tmicon-mail:before {
    content: "\e002";
}

.cbp_tmicon-earth:before {
    content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #3594cb;
        top: -20px;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #6cbfee;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }   
}



    html, body, h1, h2, h3, h4, h5, h6, div, span, blockquote, p, address, form, fieldset, img, ul, ol, dl, dt, dd, li, hr, table, td, th, strong, em, sup, sub, dfn, ins, del, q, cite, var, samp, code, kbd, tt, pre
    {
    line-height: 1.5em;
    }

    body
    {
    padding: 10px 30px;
    }

    input, textarea, select, option, optgroup, button, td, th
    {
    font-size: 100%;
    }

    pre, code, kbd, samp, tt
    {
    font-family: monospace,monospace;
    font-size: 1em;
    }

    body {
    width: 960px;
    margin: 0 auto;
    }

    code
    {
    background: #f3f3f3;
    border: 1px solid #ddd;
    padding: 1px 4px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    }

    .template-background{
      background-color: #e6e5c4;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }

    .new
    {
    background: #FF7E00;
    border: 1px solid #DA8028;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 4px;
    text-shadow: 0 1px 0 #C97626;
    text-transform: uppercase;
    margin: 0 0 0 3px;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -moz-box-shadow: 0 2px 3px 0 #FFA54E inset;
    -webkit-box-shadow: 0 2px 3px 0 #FFA54E inset;
    box-shadow: 0 2px 3px 0 #FFA54E inset;
    }

    h1.samples
    {
    color: #0782C1;
    font-size: 200%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    }

    h1.samples a
    {
    color: #0782C1;
    text-decoration: none;
    border-bottom: 1px dotted #0782C1;
    }

    .samples a:hover
    {
    border-bottom: 1px dotted #0782C1;
    }

    h2.samples
    {
    color: #000000;
    font-size: 130%;
    margin: 15px 0 0 0;
    padding: 0;
    }

    p, blockquote, address, form, pre, dl, h1.samples, h2.samples
    {
    margin-bottom: 15px;
    }

    ul.samples
    {
    margin-bottom: 15px;
    }

    .clear
    {
    clear: both;
    }

    fieldset
    {
    margin: 0;
    padding: 10px;
    }

    body, input, textarea
    {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    }

    body
    {
    font-size: 75%;
    }

    a.samples
    {
    color: #189DE1;
    text-decoration: none;
    }

    form
    {
    margin: 0;
    padding: 0;
    }

    pre.samples
    {
    background-color: #F7F7F7;
    border: 1px solid #D7D7D7;
    overflow: auto;
    padding: 0.25em;
    white-space: pre-wrap; /* CSS 2.1 */
    word-wrap: break-word; /* IE7 */
    -moz-tab-size: 4;
    -o-tab-size: 4;
    -webkit-tab-size: 4;
    tab-size: 4;
    }

    #footer
    {
    clear: both;
    padding-top: 10px;
    }

    #footer hr
    {
    margin: 10px 0 15px 0;
    height: 1px;
    border: solid 1px gray;
    border-bottom: none;
    }

    #footer p
    {
    margin: 0 10px 10px 10px;
    float: left;
    }

    #footer #copy
    {
    float: right;
    }

    #outputSample
    {
    width: 100%;
    table-layout: fixed;
    }

    #outputSample thead th
    {
    color: #dddddd;
    background-color: #999999;
    padding: 4px;
    white-space: nowrap;
    }

    #outputSample tbody th
    {
    vertical-align: top;
    text-align: left;
    }

    #outputSample pre
    {
    margin: 0;
    padding: 0;
    }

    .description
    {
    border: 1px dotted #B7B7B7;
    margin-bottom: 10px;
    padding: 10px 10px 0;
    overflow: hidden;
    }

    label
    {
    display: block;
    margin-bottom: 6px;
    }

    /**
    * CKEditor editables are automatically set with the "cke_editable" class
    * plus cke_editable_(inline|themed) depending on the editor type.
    */

    /* Style a bit the inline editables. */
    .cke_editable.cke_editable_inline
    {
    cursor: pointer;
    }

    /* Once an editable element gets focused, the "cke_focus" class is
    added to it, so we can style it differently. */
    .cke_editable.cke_editable_inline.cke_focus
    {
    box-shadow: inset 0px 0px 20px 3px #ddd, inset 0 0 1px #000;
    outline: none;
    background: #eee;
    cursor: text;
    }

    /* Avoid pre-formatted overflows inline editable. */
    .cke_editable_inline pre
    {
    white-space: pre-wrap;
    word-wrap: break-word;
    }

    /**
    * Samples index styles for the index page.
    */

    .twoColumns,
    .twoColumnsLeft,
    .twoColumnsRight
    {
    overflow: hidden;
    }

    .twoColumnsLeft,
    .twoColumnsRight
    {
    width: 45%;
    }

    .twoColumnsLeft
    {
    float: left;
    }

    .twoColumnsRight
    {
    float: right;
    }

    dl.samples
    {
    padding: 0 0 0 40px;
    }
    dl.samples > dt
    {
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    margin: 0 0 3px;
    }
    dl.samples > dd
    {
    margin: 0 0 3px;
    }
    .warning
    {
    color: #ff0000;
    background-color: #FFCCBA;
    border: 2px dotted #ff0000;
    padding: 15px 10px;
    margin: 10px 0;
    }

    /* Used on inline samples */

    blockquote
    {
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    }

    .cke_contents_ltr blockquote
    {
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
    }

    .cke_contents_rtl blockquote
    {
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px;
    }

    img.right {
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px;
    }

    img.left {
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px;
    }

    /* The following styles are just to make the page look nice. */

    /* Workaround to show Arial Black in Firefox. */
    @font-face
    {
      font-family: 'arial-black';
      src: local('Arial Black');
    }

    *[contenteditable="true"]
    {
      padding: 10px;
    }

    #editable_container
    {
      width: 960px;
      margin: 30px auto 0;
    }
    .bar {
        height: 18px;
        background: green;
    }

    #header
    {
      overflow: hidden;
      padding: 0 0 30px;
      border-bottom: 5px solid #05B2D2;
      position: relative;
    }

    #headerLeft,
    #headerRight
    {
      width: 49%;
      overflow: hidden;
    }

    #headerLeft
    {
      float: left;
      padding: 10px 1px 1px;
    }

    #headerLeft h2,
    #headerLeft h3
    {
      text-align: right;
      margin: 0;
      overflow: hidden;
      font-weight: normal;
    }

    #headerLeft h2
    {
      font-family: "Arial Black",arial-black;
      font-size: 4.6em;
      line-height: 1.1em;
      
    }

    #headerLeft h3
    {
      font-size: 2.3em;
      line-height: 1.1em;
      margin: .2em 0 0;
      color: #666;
    }

    #headerRight
    {
      float: right;
      padding: 1px;
    }

    #headerRight p
    {
      line-height: 1.8em;
      text-align: justify;
      margin: 0;
    }

    #headerRight p + p
    {
      margin-top: 20px;
    }

    #headerRight > div
    {
      padding: 20px;
      margin: 0 0 0 30px;
      font-size: 1.4em;
      color: #666;
    }

    #columns
    {
      color: #333;
      overflow: hidden;
      padding: 20px 0;
    }

    #columns > div
    {
      float: left;
      width: 33.3%;
    }

    #columns #column1 > div
    {
      margin-left: 1px;
    }

    #columns #column3 > div
    {
      margin-right: 1px;
    }

    #columns > div > div
    {
      margin: 0px 10px;
      padding: 10px 20px;
    }

    #columns blockquote
    {
      margin-left: 15px;
    }

    #tagLine
    {
      border-top: 5px solid #05B2D2;
      padding-top: 20px;
    }

    #taglist {
      display: inline-block;
      margin-left: 20px;
      font-weight: bold;
      margin: 0 0 0 20px;
    }


