@import "bootstrap";
@import "bootstrap/responsive";
@import "bootstrap/image-gallery";



.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 10px;
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .bar {
  background: url(progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  float: right;
  width: 10px;
  height: 10px;
  background: url(loading.gif) center no-repeat;
  background-size: contain;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

@media (max-width: 400px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 40px;
    word-wrap: break-word;
  }
}

/* css for the index page */


.box{
  display:block;
  float:left;
  color:#ffe;
  position:absolute;
  
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.col_12{ width:960px;}
.col_11{ width:880px;}
.col_10{ width:800px;}
.col_09{ width:720px;}
.col_08{ width:640px;}
.col_07{ width:560px;}
.col_06{ width:480px;}
.col_05{ width:400px;}
.col_04{ width:320px;}
.col_03{ width:240px;}
.col_02{ width:160px;}
.col_01{ width:80px; }

.row_b{ height:360px;}
.row_m{ height:240px;}
.row_s{ height:120px;}



#box_title{
  background:#007699 url(bg_texture.png);
  left:0;
  top:0;
}
#box_mobile{
  background:url(bg_texture.png) repeat, #02465E center no-repeat;
  left:720px;
  top:0;
}
#box_bottle{
  background:url(bg_texture.png) repeat, #fff center no-repeat;
  left:0;
  top:240px;
}
#box_about{
  background:#02465E  url(bg_texture.png);
  left:160px;
  top:240px;
}
#box_lips{
  background:url(bg_texture.png) repeat, #C1E6F3 center no-repeat;
  left:480px;
  top:240px;
}
#box_discover{
  background:#A1CF9C url(bg_texture.png);
  left:480px;
  top:360px;
}
#box_social{
  left:720px;
  top:360px;
}
#box_rate{
  background:#A1CF9C url(bg_texture.png);
  left:0;
  top:480px;
}
#box_newsletter{
  background:#fff url(bg_texture.png);
  left:240px;
  top:480px;
}
#box_imago{
  background:url(bg_texture.png) repeat, #C1E6F3 center no-repeat;
  left:720px;
  top:480px;
  height:180px
}
#box_copyright{
  background:#842436 url(bg_texture.png);
  left:0;
  top:720px;
}
#box_share{
  background:#5C4032 url(bg_texture.png);
  left:480px;
  top:720px;
}
#box_corks{
  background:url(bg_texture.png) repeat, #02465E  center no-repeat;
  left:0;
  top:600px;
  height:60px
}

.box {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.header_wrap{display:block;width:380px;top:50px;left:40px;position:absolute;}
  .logo{display:block;width:279px;height:52px;margin:0;font-family: 'apercu-mono', arial, sans-serif;font-weight:normal;font-size: 3em;}
  .claim{display:block;font-size:15px;margin:0;margin-top:35px;font-family: 'apercu-mono', arial, sans-serif;font-weight:normal;}

.big_txt{font-size:36px;text-transform:uppercase;display:block;text-align:center;line-height:120px;font-weight: bold;-webkit-font-smoothing: antialiased; letter-spacing: 1px;}

.phone_wrap{width:138px;display:block;position:relative;top:78px;left:50%;margin-left:-69px;padding-top:12px;}
  .phone_wrap span{font-family: 'apercu-mono', arial, sans-serif;font-weight:normal;font-size:15px;display:block;text-align:center;line-height:25px;text-transform: lowercase;}

.about_wrap{text-align:center;padding:0 30px;margin-top:32px;}
  .about_title{font-size:22px;margin:0;margin-bottom:21px;font-weight:bold;-webkit-font-smoothing: antialiased;}
  .about_txt{font-size:14px;margin:0;width:280px;position:relative;left:50%;margin-left:-140px;-webkit-font-smoothing: antialiased;}
  
.btn_social{
  width:50%;
  height:120px;
  display:block;
  text-indent:-9999px;
  float:left;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
  .btn_facebook{
    background:url(bg_texture.png) repeat, #3B5998 center no-repeat;
  }
  
  .btn_twitter{;
    background:url(bg_texture.png) repeat, #4099ff center no-repeat;
  }

.newsletter_wrap{text-align:center;padding:0 30px;margin-top:32px;}
  .newsletter_title{font-size:22px;margin:0;margin-bottom:21px;font-weight:bold;color:#02465E;-webkit-font-smoothing: antialiased;}
  .newsletter_txt{font-size:14px;margin:0;color:#842436;width:420px;position:relative;left:50%;margin-left:-210px;}
    .newsletter_txt a{color:#842436;text-decoration:none;border-bottom:1px dotted #842436;
      -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
      .newsletter_txt a:hover, .newsletter_txt a.hover_effect{color:#5C4032;border-bottom:1px dotted #5C4032;}
  
  #mc_embed_signup{width:420px;position:relative;left:50%;margin-left:-210px;margin-top:30px;}
  .newsletter_wrap input[type="email"]{border:none;
  background:#02465E;padding:10px;height:15px;
  width:280px;color: #02465E !important;
  font-size:12px;float:left;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      outline: none;
      font-family:'apercu', arial, sans-serif;
    font-size:14px;
    -webkit-appearance: none;
    border-radius: 0;
  }
    .lang_es_ES .newsletter_wrap input[type="email"]{width:260px;}
    
  .newsletter_wrap input[type="email"]:focus{background:#C1E6F3;color:02465E !important}
  
  .newsletter_wrap input[type="submit"]{border:none;
  background:#02465E;padding:0 16px;height:35px;
  line-height:35px;text-align:center;
  color:#fff;font-size:12px;float:right;text-transform:uppercase;letter-spacing: 1px;
    font-family:'apercu', arial, sans-serif;
    font-size:14px;
    -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-appearance: none;
      border-radius: 0;
      -webkit-user-select: none;
      -webkit-touch-callout: none;
  }
    .newsletter_wrap input[type="submit"]:hover, .newsletter_wrap input[type="submit"].hover_effect{background:#C1E6F3;color:#02465E !important;}
    
.copyright_txt{color:#ffe ;position:absolute
;bottom:20px;left:20px;font-size:14px;margin:0;}
  .copyright_txt a{color:#ffe;text-decoration:none;
  border-bottom:1px dotted #842436;
      -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
  }
  .copyright_txt a:hover, .copyright_txt a.hover_effect{border-bottom:1px dotted #FAD9AC;}
  
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fad9ac;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fad9ac;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fad9ac;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fad9ac;
} 


/* #Media Queries
================================================== */

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 1134px) {
    .about_title{line-height: 22px;}
  }

  /* Smaller than standard 960 (devices and browsers) */
  @media only screen and (max-width: 959px) {
  
    .container{width:720px;height:1320px;background:#fad9ac;}
    
    #box_title{left:0;top:0;}
    #box_mobile{left:0;top:600px;}
    #box_bottle{left:0;top:240px;}
    #box_about{left:160px;top:240px;}
    #box_lips{left:480px;top:240px;}
    #box_discover{left:480px;top:360px;}
    #box_social{left:480px;top:840px;}
    #box_rate{left:0;top:480px;}
    #box_corks{left:240px;top:960px;}
    #box_newsletter{left:240px;top:480px;}
    #box_imago{left:240px;top:720px;}
    #box_copyright{left:0;top:1080px;}
    #box_grapes{left:480px;top:1080px;}
    #box_share{left:480px;top:720px;}
    #box_cheers{left:480px;top:960px;}
    
  }

  /* Tablet Portrait size to standard 960 (devices and browsers) */
  @media only screen and (min-width: 768px) and (max-width: 959px) {}

  /* All Mobile Sizes (devices and browser) */
  @media only screen and (max-width: 767px) {
    
    .container{width:480px;height:1800px;}
    
    #box_title{left:0;top:0;width:480px;}
    #box_mobile{left:0;top:1080px;}
    #box_bottle{left:0;top:240px;}
    #box_about{left:160px;top:240px;}
    #box_lips{left:0;top:480px;}
    #box_discover{left:240px;top:480px;}
    #box_social{left:0;top:960px;}
    #box_rate{left:0;top:840px;}
    #box_corks{left:240px;top:840px;}
    #box_newsletter{left:0;top:600px;}
    #box_imago{left:240px;top:960px;}
    #box_copyright{left:0;top:1560px;}
    #box_grapes{left:240px;top:1200px;}
    #box_share{left:240px;top:1440px;}
    #box_cheers{left:0;top:1440px;}
    
  }

  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width: 480px) and (max-width: 767px) {}

  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width: 479px) {}
  
  
  /* Bigger than standard 960 (devices and browsers) */
  @media only screen and (min-width: 960px) {
  
    .container{width:100%;}
    
    #box_title{width:75%;left:0;top:0;}
    #box_mobile{width:25%;left:75%;top:0;}
    #box_bottle{width:20%;left:0;top:240px;}
    #box_about{width:30.01%;left:20%;top:240px;}
    #box_lips{width:25%;left:50%;top:240px;}
    #box_discover{width:25%;left:50%;top:360px;}
    #box_social{width:25%;left:75%;top:360px;}
    
    #box_rate{width:25%;left:0;top:480px;}
    
    #box_cheers{width:25%;left:50%;top:840px;}
    #box_newsletter{width:50%;left:25%;top:480px;}
    #box_imago{width:25%;left:75%;top:480px;}
    #box_copyright{width:50%;left:0;top:720px;}
    
    #box_grapes{width:25%;left:75%;top:720px;}
    
    #box_share{width:25%;left:50%;top:720px;}
    #box_corks{width:25%;left:0;top:600px;}
    
  }




/* css for the user home page */


.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
    
} 

/* The line */
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
}

.cbp_tmtimeline > li {
    position: relative;
}

/* The date/time */
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 16%;
    padding-right: 100px;
    position: absolute;
    text-align: left;
}

.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
}

.cbp_tmtimeline > li .cbp_tmtime span:first-child {
    font-size: 0.9em;
    color: #bdd0db;
}

.cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 2.9em;
    color: #3594cb;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
    color: #6cbfee;
}

/* Right content */
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #3594cb;
    color: #fff;
    padding: 2em;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border-radius: 5px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #6cbfee;
}

.cbp_tmtimeline > li .cbp_tmlabel h2 { 
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

/* The triangle */
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #3594cb;
    border-width: 10px;
    top: 10px;
}

.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: #6cbfee;
}

/* The icons */
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 1.4em;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    color: #fff;
    background: #46a4da;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}

.gravatar {border-radius:50px}
.cbp_tmicon-phone:before {
}

.cbp_tmicon-screen:before {
    content: "\e001";
}

.cbp_tmicon-mail:before {
    content: "\e002";
}

.cbp_tmicon-earth:before {
    content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {

    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }

    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }

    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }

    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }

    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #3594cb;
        top: -20px;
    }

    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #6cbfee;
    }

    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }   
}




    /**
    * CKEditor editables are automatically set with the "cke_editable" class
    * plus cke_editable_(inline|themed) depending on the editor type.
    */

    /* Style a bit the inline editables. */
    .cke_editable.cke_editable_inline
    {
    cursor: pointer;
    }

    /* Once an editable element gets focused, the "cke_focus" class is
    added to it, so we can style it differently. */
    .cke_editable.cke_editable_inline.cke_focus
    {
    box-shadow: inset 0px 0px 20px 3px #ddd, inset 0 0 1px #000;
    outline: none;
    background: #eee;
    cursor: text;
    }

    /* Avoid pre-formatted overflows inline editable. */
    .cke_editable_inline pre
    {
    white-space: pre-wrap;
    word-wrap: break-word;
    }

    /**
    * Samples index styles for the index page.
    */

    .twoColumns,
    .twoColumnsLeft,
    .twoColumnsRight
    {
    overflow: hidden;
    }

    .twoColumnsLeft,
    .twoColumnsRight
    {
    width: 45%;
    }

    .twoColumnsLeft
    {
    float: left;
    }

    .twoColumnsRight
    {
    float: right;
    }

    dl.samples
    {
    padding: 0 0 0 40px;
    }
    dl.samples > dt
    {
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    margin: 0 0 3px;
    }
    dl.samples > dd
    {
    margin: 0 0 3px;
    }
    .warning
    {
    color: #ff0000;
    background-color: #FFCCBA;
    border: 2px dotted #ff0000;
    padding: 15px 10px;
    margin: 10px 0;
    }

    /* Used on inline samples */

    blockquote
    {
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
    }

    .cke_contents_ltr blockquote
    {
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
    }

    .cke_contents_rtl blockquote
    {
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px;
    }

    img.right {
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px;
    }

    img.left {
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px;
    }

    /* The following styles are just to make the page look nice. */

    /* Workaround to show Arial Black in Firefox. */
    @font-face
    {
      font-family: 'arial-black';
      src: local('Arial Black');
    }

    *[contenteditable="true"]
    {
      padding: 10px;
    }

    #editable_container
    {
      width: 960px;
      margin: 30px auto 0;
    }
    .bar {
        height: 18px;
        background: green;
    }

    #header
    {
      overflow: hidden;
      padding: 0 0 30px;
      border-bottom: 5px solid #05B2D2;
      position: relative;
    }

    #headerLeft,
    #headerRight
    {
      width: 49%;
      overflow: hidden;
    }

    #headerLeft
    {
      float: left;
      padding: 10px 1px 1px;
    }

    #headerLeft h2,
    #headerLeft h3
    {
      text-align: right;
      margin: 0;
      overflow: hidden;
      font-weight: normal;
    }

    #headerLeft h2
    {
      font-family: "Arial Black",arial-black;
      font-size: 4.6em;
      line-height: 1.1em;
      
    }

    #headerLeft h3
    {
      font-size: 2.3em;
      line-height: 1.1em;
      margin: .2em 0 0;
      color: #666;
    }

    #headerRight
    {
      float: right;
      padding: 1px;
    }

    #headerRight p
    {
      line-height: 1.8em;
      text-align: justify;
      margin: 0;
    }

    #headerRight p + p
    {
      margin-top: 20px;
    }

    #headerRight > div
    {
      padding: 20px;
      margin: 0 0 0 30px;
      font-size: 1.4em;
      color: #666;
    }

    #columns
    {
      color: #333;
      overflow: hidden;
      padding: 20px 0;
    }

    #columns > div
    {
      float: left;
      width: 33.3%;
    }

    #columns #column1 > div
    {
      margin-left: 1px;
    }

    #columns #column3 > div
    {
      margin-right: 1px;
    }

    #columns > div > div
    {
      margin: 0px 10px;
      padding: 10px 20px;
    }

    #columns blockquote
    {
      margin-left: 15px;
    }

  


