
<footer class="navbar navbar-fixed-bottom" >
<div class="navbar-inner" >
<div class="container" >
<small>
<a>(c)2012 Slashroot Innovation</a>
</small>
<nav>
<ul>
<li><%= link_to "About",  about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
</div>
</div>
</footer>
